/* navbar */
#main-navbar
{
	background-color: #575757;
	overflow: hidden;
	width: 100%;
}

#navbar-container
{
	float: left;
	width: 100%;
	position: relative;
}

#main-navbar ul
{
	list-style-type: none;
	margin: 1;
	padding: 1;
    left: 50%;
 	float: left;
 	position: relative;
}

#main-navbar ul li
{
    display: block;
 	float: left;
 	right: 50%;
 	position: relative;
}

#main-navbar ul li a
{
	display: block;
	padding: 15px 25px;
	color: #fff;
	text-decoration: none;
  font-size: x-large;
}


#main-navbar ul li a:hover
{
	background-color: #696969;
}

#main-navbar #onpage
{
 	text-decoration: underline;
}

/* Resume Page */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1
{
  font-family: 'Lobster', cursive;
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.resume-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

/* About Page */






















